@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#F2F2F7] text-black antialiased;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  }
}

/* 스크롤바 숨기기 (아이폰 느낌) */
::-webkit-scrollbar {
  display: none;
}
